<div class='container bg'>
    
    <div id='buttonGroup'>

        <div class='button'><button id='newLunchGroupsButton' type='button' class="btn">
            Give me new lunch groups
        </button></div>

        <div class='button'><button id='modifyPeople' type='button' class="btn" data-toggle="modal" data-target="#myModal">
            Add or remove people
        </button></div>

    </div>


    <!-- add/remove members modal start -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Add/Remove Lunch Members</h3>
            <br>
            <p><b>Heads up:</b> Adding or removing people may slightly change the lunch groups to maintain a reasonable number of people per lunch group.</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <br>
            <br>

            <div class="form-group pull-left">
                <input id='people-search-input' type="text" class="search form-control" placeholder="Search for someone...">
            </div>

            <table class="table table-striped" id="userTbl">
                <tbody>
                    <tr id='add-new-person-tr' style='display:none'><td>hello world</td></tr>
                {{# each list}}
                    <tr>
                        <td><div class='singlePerson'><img class='deletePersonImg' src='/images/trash-can.png'>{{this}}</div></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- add/remove members modal end -->

    <!-- show lunch groups start -->
    <div id='cardsWrapper' class='flexcontainer'>
        {{# each lunchgroups}}
            <div class="card" style="width: 20rem;">
                <div class="card-block">
                    <h4 class="card-title">Group {{@index}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    {{#members}}
                        <li class="list-group-item">{{person}}</li>
                    {{/members}}
                </ul>
            </div>
        {{/each}}
    </div>
    <!-- show lunch groups end -->

</div>
<script src="/javascripts/my.js"></script> 