body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  color: #4b514d;
}

a {
  color: #00B7FF;
}

.bg {
	background-color: #f9f8f7;
}

#buttonGroup {
	text-align: center;
	margin-top: 20px;
}

.button {
	margin: 0 20px;
	padding: 5px;
	display: inline-block;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.header {
	text-align: center;
}

.flexcontainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-self: flex-start;
}

#cardsWrapper {
	margin-top: 3%;
}

.card {
	text-align: center;
	padding: 1rem;
	margin: 1rem;
	border-radius: 13px;
	width: 20rem;
}

.card:nth-child(odd) {
	background-color: #e3f4f4;
}

.card:nth-child(even) {
	background-color: antiquewhite;
}

#newLunchGroupsButton {
	background-color: #4b514d;
	color: #d2dbd3;
}

#newLunchGroupsButton:hover {
	background-color: #738c75;
	color: #d7e5dd;
}

#modifyPeople {
	background-color: #4b514d;
	color: #d2dbd3;
}

#modifyPeople:hover {
	background-color: #738c75;
	color: #d7e5dd;
}

.modal-header {
	background-color: #4b514d;
	color: #d2dbd3;
}

.modal-body {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.deletePersonImg {
	height: 1.5em;
	padding: 2px;
	margin: 0.2em 0.4em 0.2em 0;
}

.deletePersonImg:hover {
	height: 1.7em;
	font-size: 16px;
}

@media (max-width: 40rem) {
	.card {
		margin: 1rem auto;
	}
}
