body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flexcontainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-self: flex-start;
}
